.aboutbar {
    /* background-color: aqua; */
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .aboutbarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .aboutbarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #222222;
    font-weight: 600;
  }
  
  .aboutbarItem > img {
    margin-top: 15px;
    width: 100%;
    height: 15rem;
  }
  
  .aboutbarItem > p {
    padding: 30px;
  }
  
  .aboutbarList {
    list-style-type: none;
    margin-bottom: 30px;
  }
  
  .aboutbarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    cursor: pointer; 
  }
  
  .aboutbarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .aboutbarIcon {
    font-size: 16px;
    margin-left: 10px;
  }
  
@media screen and (max-width: 768px){
    
.aboutbar{
  height: 10rem;
  }
}